@model AbsenceManager.Models.AbsenceRequestViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Review @Model.RequestingStudent.FirstName @Model.RequestingStudent.LastName's absence request</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestingStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestingStudent.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbsenceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbsenceType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ApprouveRequest" asp-route-id="@Model.Id">Approuve</a> <a asp-action="RejectRequest" asp-route-id="@Model.Id">Reject</a>
    <a asp-action="Index">Back to List</a>
</div>
