@model AdminAbsenceRequestViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Absence Requests</h1>

<div class="row">
    <div class="col-3">
        <div class="info-box bg-info">
            <span class="info-box-icon"><i class="fas fa-list"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.TotalRequest</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalRequest)</span>

            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-3">
        <div class="info-box bg-success">
            <span class="info-box-icon"><i class="fas fa-check-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.ApprouvedRequest</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.ApprouvedRequest)</span>

            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-3">
     
            <div class="info-box bg-warning">
                <span class="info-box-icon"><i class="fab fa-buffer"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Model.PendingRequest</span>
                    <span class="info-box-number">@Html.DisplayNameFor(model => model.PendingRequest)</span>

                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
 
    <div class="col-3">
       
        <div class="info-box bg-danger">
            <span class="info-box-icon"><i class="fas fa-times"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.RejectedRequest</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.RejectedRequest)</span>

            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</div>
<hr />
<table  class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].RequestingStudent.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].RequestingStudent.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].AbsenceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].ActionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceRequests[0].ApprovedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AbsenceRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingStudent.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingStudent.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AbsenceType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionDate)
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approuved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Denied</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedBy.UserName)
                </td>
                <td>
             
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-outline-primary"><i class="fa fa-file"></i>Review</a> 
                   
                </td>
            </tr>
        }
    </tbody>
</table>
@*@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}*@